<h1>All Artists</h1>
<% @artists.each do |artist|  %>
  <ul>
    <li><%= link_to artist.name, artist_path(artist.id) %></li>
  </ul>
<% end %>
<p><%= link_to "New Artist", new_artist_path %></p>
<p><%= link_to "View All Songs", songs_path %></p>
